.xd{
    position: relative; 
 }.jd{
     position:absolute;
 }#lxwm-bj{
     width:100%;
     height:388px;
 }#lxwm-bj img{
     width:100%;
     height:388px;
 }#lxwm-bj>div{
    width:100%; 
    position: absolute;
    text-align: center;
 }#lxwm-bj h2{ 
     width:100%;
    font-size:40px;
    color:#fff;
    margin-top:100px;
    font-weight: normal;
}#lxwm-bj p{
    width:488px;
    margin-top:25px;
    display: inline-block;
    color:#fff; 
    line-height: 24px;
    font-size:15px;
}#bodyer{
    width:1200px;
    margin: 0 auto;
}
#lian{
    width:100%;
    height:100px;
    line-height: 60px;
}#lian li a{
 float: left;
 text-align: center;
 font-size:18px;
 margin:0 10px 10px 10px;
 width:90px;
}li.li-3 a{
    border-bottom:2px solid #333;
    color:#333;
    font-weight: 600; 
}
#ditu{
    height:480px;
}#ditu>div{
    background:#fff;
    width:350px;
    height:270px;
    left:60px;
    top:50px;
}div.dz p{
    color:#757575;
    font-size:15px;
    margin-bottom: 6px;
}div.dz h3{
    font-size:15px;
    color:#333;
    font-weight: 400;
}div.dz a{
    color: #0073ea;
}div.dz{
    margin:30px;
}